/* blog article */
.blog__post > a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}

.blog__post .header-3 {
  margin-bottom: 0.625rem;
}

.blog__post .paragraph {
  margin: 0;
  margin-top: 0.625rem;
}
