@import "../abstracts/mixins";
@import "../abstracts/variables";

.text-field--regular {

  display: flex;
  flex-direction: column;

  > input {
    @include input-text;
  }

  > textarea {
    @include input-text;
    resize: none;
  }
}

/* Dropdown styling */

.dropdown--regular {

  display: flex;
  flex-direction: column;
}

.dropdown__content {

  margin-top: 0.75rem;
  padding: $text-field-padding;
  border: 0.5px solid map_get($colors, golden);
  cursor: pointer;
  outline: none;

  > input {

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
  }

  .dropdown {
    /* Styles */
    background: white;
    margin: 0.125rem 0 0 0;
    padding: 0;
    border: 0.5px solid map_get($colors, golden);

    /* Hover state */
    .dropdown__option:hover  {
      background: #e1ddd9;
    }

    .dropdown__option {
      padding: $text-field-padding;
      text-decoration: none;
      list-style: none;
      color: #646260;
    }
  }
}

.dropdown__caret {
  &::after {
    content: "▼";
    color: map_get($colors, red);
    text-align: center;
  }
}

/* -- Dropdown finish -- */
