@import "../abstracts/mixins";

.text-field--regular {

  display: flex;
  flex-direction: column;

  > input {
    @include input-text;
  }

  > textarea {
    @include input-text;
    resize: none;
  }
}

.dropdown--regular {

  display: flex;
  flex-direction: column;

  > select {
    @include input-text;
    -webkit-appearance: none;
    border-radius: 0;
  }
}
