/* header */

.main-header {
  width: 100%;
  height: 4rem;
  padding: 0 3.75rem;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  align-items: center;
  z-index: 100;
}

.main-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 6.25rem;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__item {
  padding: 0 1.55rem;
}

.main-nav__item--login {
  border-left: 1px solid #CDBEA7;
}

.main-nav__item > a {
  cursor: pointer;
}

.main-nav__divider {
  z-index: 100;
  position: fixed;
  margin-top: 4rem;
}
