<header>
  <div class="main-header">
    <div>
      <a routerLink="/" class="main-header__brand">
        <img src="assets/img/logo_nav.svg" alt="Foodably - probably the best cooking website on the earth">
      </a>
    </div>
    <nav class="main-nav header-4">
      <ul class="main-nav__items">
        <li class="main-nav__item">
          <a href="#">Recipes</a>
        </li>
        <li class="main-nav__item">
          <a routerLink="/blogs">Blogs</a>
        </li>
      </ul>
      <ul class="main-nav__items">
        <li class="main-nav__item ">
          <a href="#">Sign-up</a>
        </li>
        <li class="main-nav__item main-nav__item--login">
          <a href="#">Login</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="divider"></div>
</header>
