<footer class="main-footer">
    <div class="main-footer__divider"></div>
    <div class="main-footer__content">
        <section>
            <div class="main-footer__content--subsection">
                <h3 class="header-3">Contact us</h3>
                <form class="contact-us-form">
                    <input [(ngModel)]="mailName" type="text" placeholder="Name" name="name">
                    <input [(ngModel)]="mailEmail" type="email" placeholder="Email" name="email">
                    <textarea [(ngModel)]="mailBody" name="message" placeholder="Message" rows="5"></textarea>
                    <input class="button button-title red-back" type="submit" value="Submit" style="cursor: pointer;" (click)="onSubmit()">
                </form>
            </div>
        </section>
        <div class="divider--vertical"></div>
        <section>
            <div class="main-footer__content--subsection">
                <h3 class="header-3">Support</h3>
                <nav>
                    <ul class="main-footer__links">
                        <li class="header-4">
                            <a href="#">FAQ</a>
                        </li>
                        <li class="header-4">
                            <a href="#">Privacy</a>
                        </li>
                        <li class="header-4">
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </nav>
                <h4 id="main-footer__flags--header" class="header-4">Change language</h4>
                <ul class="main-footer__flags">
                    <li class="header-4">
                        <a href="#">
                            <img src="assets/img/flag_uk.svg" alt="English flag">
                        </a>
                    </li>
                    <li class="header-4">
                        <a class="flag-inactive" href="#">
                            <img src="assets/img/flag_india.svg" alt="Indian flag">
                        </a>
                    </li>
                    <li class="header-4">
                        <a class="flag-inactive" href="#">
                            <img src="assets/img/flag_ua.svg" alt="Ukrainian flag">
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <img id="main-footer__logo" src="assets/img/logo_small.svg" alt="Foodably logo">
</footer>