/* top articles */

#top-articles {
  background: rgba(194,149,68,0.25);
}

#top-articles--content {
  width: 80%;
  padding: 4rem 0;
  margin-top: 4rem; /* temporary solution */
  margin-left: auto;
  margin-right: auto;
}

#top-articles--content > .header-2 {
  margin-top: 2.25rem;
  margin-bottom: 1.5rem;
}

.top-blog__posts {
  list-style: none;
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, minmax(10%, 1fr));
  grid-template-rows: fit-content(35rem);
  grid-gap: 1.875rem;
}
