<div class="backdrop">
    <div class="profile-management__form">
        <img class="profile-management__logo" src="assets/img/logo_small.svg" alt="Foodably logo">
        <div class="close-button" (click)="onClose()"></div>
        <div class="profile-management__form--container">
            <h2 class="header-2">Log in to your account</h2>
            <div class="profile-management__form--content">
                <button id="button-google" type="button">
          <img id="button-google--logo" src="assets/img/google_logo.svg" alt="Google logo">
          <h4 id="button-google--text">Sign in with Google</h4>
        </button>
                <p class="paragraph">or use your email</p>
                <form class="profile-management__form--fields" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                    <input id="email" type="email" placeholder="Email" name="email" ngModel required email>
                    <input id="password" type="password" placeholder="Password" name="password" required ngModel minlength="8">
                    <input class="button button-title red-back" [disabled]="!loginForm.valid" type="submit" value="Submit">
                </form>
            </div>
            <div class="divider"></div>
            <h4 id="profile-management__form--caption" class="header-4">Don't have an account?</h4>
            <a id="profile-management__form--caption-link" class="backquote__small" href="#">Sign up, it's free</a>
        </div>
        <img class="profile-management__illustration" src="assets/img/undraw_enter_uhqk.svg" alt="Form illustration logo">
    </div>
</div>