.stepper__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.75rem;

  > .header-4 {
    width: 3.375rem;
    text-align: center;
  }

  > .caption {
    margin: 0 0 0 1rem;
  }
}
