<section id="welcome-banner">
  <div id="label-container">
    <div id="label-light">
      <h1 class="header-1">Who told you can't cook?</h1>
    </div>
    <div id="label-dark"></div>
  </div>
</section>
<section id="search">
  <div>
    <div id="search-field">
      <img src="assets/img/loop.svg" alt="Loop icon">
      <input type="text" name="recipe" placeholder="What do you want to try today?">
    </div>
    <div>
      <a id="advanced-search" class="backquote" href="#">Advanced search</a>
    </div>
  </div>
  <div class="divider"></div>
</section>
<section id="recipes-and-articles">
  <app-recipe-section
    *ngFor="let recipeSection of recipeSections"
    [recipeSection]="recipeSection">
  </app-recipe-section>
  <app-blog-section-landing [blogSection]="blogSection"></app-blog-section-landing>
</section>
