<section id="welcome-banner">
    <div id="label-container">
        <div id="label-light">
            <h1 class="header-1">Give homemade a try!</h1>
        </div>
        <div id="label-dark"></div>
    </div>
</section>
<section id="search">
    <div>
        <div id="search-field">
            <a (click)="onSearch()" style="cursor: pointer">
                <img src="assets/img/loop.svg" alt="Loop icon">
            </a>
            <input [(ngModel)]="searchKey" type="text" name="recipe" placeholder="What do you want to try today?">
        </div>

    </div>
    <div class="divider"></div>
</section>
<section id="recipes-and-articles">
    <app-recipe-section *ngFor="let recipeSection of recipeSections" [recipeSection]="recipeSection">
    </app-recipe-section>
    <app-blog-section-landing [blogSection]="blogSection"></app-blog-section-landing>
</section>