.ingredient--container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50% auto auto auto;
  grid-column-gap: 1.5rem;
  justify-content: start;
  align-items: end;

  margin: {
    top: 0.75rem;
    bottom: 1.5rem;
  }

  .dropdown--regular {
    width: 7.5rem;
  }

  .ingredient_remove--button {
    margin-left: 0.5rem;
  }
}

.ingredient--divider {
  opacity: 40%;
  width: 50%;
}
