/* recipe section */

.recipe__cards {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(10%, 1fr));
  grid-template-rows: minmax(23.125rem, 25rem);
  padding: 0;
  margin: 2rem 0 0 0;
  grid-column-gap: 1.75rem;
}
