<div class="prep-step--container">
    <div id="description--container" class="text-field--regular">
      <label class="header-4" for="description">Description</label>
      <textarea rows="13" id="description" name="description" placeholder="Describe preparation step in details."></textarea>
    </div>
    <div class="divider--vertical"></div>
    <div id="step-ingredients--container">
      <label class="header-4" for="ingredients">Ingredients</label>
      <div id="ingredients" class="step-ingredients--container">
        <app-create-edit-step-ingredient></app-create-edit-step-ingredient>
        <app-button icon="assets/img/plus_filled.svg"
                    height="2.75"
                    background="#4C3F54"
                    iconHeight="19"
                    title="Add ingredient"></app-button>
      </div>
    </div>
</div>
