<div class="backdrop">
    <div class="profile-management__form">
        <img class="profile-management__logo" src="assets/img/logo_small.svg" alt="Foodably logo">
        <div class="close-button" (click)="onClose()"></div>
        <div class="profile-management__form--container">
            <h2 class="header-2">Create an account</h2>
            <div class="profile-management__form--content">
                <!-- <button id="button-google" type="button">
          <img id="button-google--logo" src="assets/img/google_logo.svg" alt="Google logo">
          <h4 id="button-google--text">Sign in with Google</h4>
        </button> 
                <p class="paragraph">or use your email for registration</p>-->
                <form class="profile-management__form--fields" (ngSubmit)="onSubmit()" [formGroup]="signupForm">

                    <input formControlName="name" type="text" placeholder="Name" required>





                    <input formControlName="email" type="email" placeholder="Email" [ngClass]="{'is-invalid': signupForm.get('email').errors && signupForm.get('email').touched}
                    || signupForm.get('email').touched && signupForm.hasError('emailExists')">

                    <div *ngIf="  (f.email.invalid && f.email.touched) || f.email.dirty" class="invalid-feedback">
                        <div class="errorRed" *ngIf="signupForm.get('email').touched && f.email.errors.required">Email is required</div>
                        <div class="errorRed" *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        <div class="invalid-feedback" *ngIf="signupForm.get('email').touched && signupForm.get('email').hasError('emailExists')">
                            Email address already in use
                        </div>



                        <!-- <div class="errorRed" *ngIf="signupForm.controls['email'].hasError('alreadyExist')">Email Id Already Exists</div> -->
                    </div>


                    <input formControlName="password" type="password" placeholder="Password" minlength="8">

                    <!--<input id="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Enter password again" required minlength="8" > -->
                    <input class="button button-title red-back" type="submit" value="Submit">
                </form>
            </div>
            <div class="divider"></div>
            <h4 id="profile-management__form--caption" class="header-4">Already have an account?</h4>
            <a id="profile-management__form--caption-link" class="backquote__small" href="#">Login here</a>
        </div>
        <img class="profile-management__illustration" src="assets/img/undraw_enter_uhqk.svg" alt="Form illustration logo">
    </div>
</div>