.recipe__card {
    background-color: white;
    box-shadow: 4px 10px 25px -16px #4C4054;
    overflow: hidden;
}

.recipe__card>a,
.blog__post>a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
}

.recipe__image {
    margin: 0;
    width: 100%;
    height: 13.5rem;
    object-fit: cover;
}


/* configure card content spacing */

.recipe__card .caption {
    margin: 1rem 1rem 0 1rem;
    height: 6%;
}

.recipe__card .header-4 {
    margin: 0.75rem 1rem 0.625rem 1rem;
    height: 15%;
}

.recipe__card--author {
    height: 6%;
    margin: 0.875rem 0 0.875rem 1rem;
}
