<div class="content-container">
  <form class="form__section">
    <h1 class="header-1">Create recipe</h1>
    <section id="form__section--top">
      <div id="title--container" class="text-field--regular">
        <label class="header-4" for="title">Title</label>
        <input id="title" type="text" placeholder="Recipe title" name="recipe_title">
      </div>
      <div id="category--container" class="dropdown--regular">
        <label class="header-4" for="dishCategory">Category</label>
        <ng-select id="dishCategory" [options]="categories" [styleGuide]="styleGuide"></ng-select>
      </div>
      <div id="video--container" class="text-field--regular">
        <label class="header-4" for="videoURL">Video presentation</label>
        <input id="videoURL" type="text" placeholder="Youtube link to the recipe video" name="video_presentation">
      </div>
      <div id="image--container" class="text-field--regular">
        <label class="header-4" for="previewURL">Preview image</label>
        <input id="previewURL" type="text" placeholder="Link to the recipe preview image" name="preview_image">
      </div>
      <div id="description--container" class="text-field--regular">
        <label class="header-4" for="description">Description</label>
        <textarea rows="12" id="description" name="description" placeholder="Describe your recipe. Let people know how you found or created it. Share tips and your overall experience."></textarea>
      </div>
      <div id="cuisine--container" class="dropdown--regular">
        <label class="header-4" for="cuisine">Cuisine</label>
        <ng-select id="cuisine" [options]="cuisines" [styleGuide]="styleGuide"></ng-select>
      </div>
      <div id="type--container" class="dropdown--regular">
        <label class="header-4" for="dishType">Dish type</label>
        <ng-select id="dishType" [options]="dishTypes" [styleGuide]="styleGuide"></ng-select>
      </div>
    </section>
  </form>
</div>
