<div class="user-comment">
    <div class="comments-section">
       <!-- <div class="comment-post">
          <div class="comment-background"><h2 class="comment-author-initial">S</h2></div>
            <div class="comment-details">
                <p><span class="comment-author">Ravi</span><span class="comment-time">30 minutes ago</span>
                  <span><i class="far fa-trash-alt"></i></span><span><i class="fas fa-edit"></i></span></p>
                <p class="comment-content">Maecenas eu maximus tellus, vel placerat massa. Nullam neque magna, hendrerit ac lacinia in, consequat nec ipsum. Vivamus tincidunt fringilla diam et sagittis. Suspendisse tincidunt hendrerit nisi, sit amet aliquet enim ornare at.</p>
                <div class="comment-like-unlike">
                    <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></span>
                    <span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                    <span><i class="fa fa-reply" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>-->
        <div>
          <h2> Comments</h2>
          <ul  *ngFor="let com of comments">
            <div class="comment-post">
              <div class="comment-background"><h3 class="comment-author-initial">{{com.user.name | slice:0:1}}</h3></div>
              <!--<div class="comment-img"><img src="https://cdn.iconscout.com/icon/free/png-256/avatar-372-456324.png" /></div>-->
              <div class="comment-details">
                <p><span class="comment-author">{{com.user.name}}</span>
                  <span class="comment-time">{{com.createdAt | date:'medium' : ' GMT-3'}}</span>
                  <span class="comment-edit-delete"><img src="assets/img/Icons/delete.png" (click)="onDelete(com.id)"></span>
                  <span class="comment-edit-delete" ng-click="editing = true" ><img src="assets/img/Icons/edit.png" ></span>
                </p>
                <p class="comment-content">{{com.comment}}</p>
                <div class="comment-like-unlike">
                  <span class="like" ><img src="assets/img/stock-img/like.svg" (click)="like(com)"></span>
                  <span><label class="like-count">{{com.like}}</label></span>
                </div>
              <!--  <div>
                  <span class="editrow" child-scope>
                   <span ng-hide="editing">
                     {{com.comment}} <span ng-click="editing = true"><i class="icon-pencil"></i></span>
                    </span>
                  <span ng-show="editing">
                      <input type="text" ng-model="user.first">
                   <span ng-click="editing = false"><i class="icon-ok"></i></span>
                  </span>
                  </span>
                </div>-->
              </div>
            </div>
          </ul>
        </div>
        <form #commentForm="ngForm" (ngSubmit)="onComment(commentForm)">
        <div class="comment-add">
            <div class="field-comment">
                <textarea rows="4" cols="50" id="comment-area"
                name="comment" class="form-control" placeholder="Write your comment"
                [(ngModel)]="commentDesc" minlength="2" maxlength="=200" required>
                </textarea>
                <button  class="btn--blue btn-medium" [disabled]="!commentForm.valid">
                Post Your Comment
                </button>
            </div>
        </div>
        </form>
    </div>
</div>
