<section class="Profile-section">
    <div class="profile" >
        <img class="profile-section" src="img_avatar.png">  
        <h1 id="name" class="profile-section">Name</h1>
    </div>
</section>
<section class="options">
    <div class="options-div">
        <a>
            <button class="recipe">
            <i class="fas fa-utensils"></i>
            Create recipe
            </button>
        </a>
        <a>
            <button class="blog">
            <i class="far fa-edit"></i>
                Post Blog
            </button>
        </a>
        <a>
            <button class="shopping"> <i class="fas fa-clipboard-list"></i>Shopping List</button>
        </a>
    </div>
    <hr class="line">
</section>