<li class="user-recipe__card">
  <a>
    <div class="user-recipe__card--image">
      <img [src]='recipeItem.previewURL' class="user-recipe__image" alt="recipe image">
    </div>
    <div class="user-recipe__card--content">
      <h4 class="header-4">{{ recipeItem.title }}</h4>
      <p class="paragraph">{{ recipeItem.description.substring(0,100) }} ...</p>
    </div>
    <div class="user-recipe__card--overlay" [style.display]="isOverlayHidden ? 'none' : 'grid'">
      <app-button-square routerLink="/newrecipe"
                         color="#4C3F54"
                         size="3.75"
                         icon="assets/img/pen.svg"></app-button-square>
      <app-button-square (click)="onDeleteRecipe()"
                         color="#882426"
                         size="3.75"
                         icon="assets/img/trash_can.svg"></app-button-square>
    </div>
  </a>
</li>

