<section id="search">
    <div>
        <div id="search-field">
            <a (click)="onSearch()">
                <img src="assets/img/loop.svg" alt="Loop icon">
            </a>
            <input [(ngModel)]="searchKey" type="text" name="recipe" placeholder="What do you want to try today?">
        </div>
        <div>
            <button id="advanced-search" class="backquote" (click)="onAdvSearch()">Advanced search</button>
        </div>
    </div>
</section>

<section>
    <section id="recipes-and-articles">
        <div>
            Showing {{noOfItems}} results
            <span style="float: right;">
              Sort By:
                <span class="sort" style="color: #4C4054;">
                    <a class="backquote">{{sortedBy}}</a>
                    <div class="dropdown-sort" >
                        <a value="rating" (click)="onSort(sortRating)" class="main-sort">Rating</a>
                        <a value="likes" (click)="onSort(sortLikes)" class="main-sort">Likes</a>
                        <a value= "time" (click)="onSort(sortTime)" class="main-sort">Preparation Time</a>
                        <a value="date" (click)="onSort(sortDate)" class="main-sort">Release Date</a>
                    </div>
            </span>
            </span>
        </div>
        <app-recipe-section *ngFor="let recipeSection of recipeSections" [recipeSection]="recipeSection">
        </app-recipe-section>
        <app-recipe-section *ngFor="let recipeSection of recipeItem" [recipeSection]="recipeSection">
        </app-recipe-section>
        <div class="button red-back">
            <h4 class="button-title">More</h4>
        </div>
    </section>
</section>