/* top section with video and label */

.content-container {
  width: 80%;
  padding-top: 4rem;
  padding-bottom: 4.375rem;
  margin: 0 auto;
}
.button-title {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  line-height: 3.125rem;
  text-align: center;
}
.items-container {
  display: grid;
  margin-top: 1.5rem;
}

.recipe__instructions-container {
  @extend .items-container;
  grid-row-gap: 1.5rem;
}

.recipe__ingredients-container {
  @extend .items-container;
  grid-row-gap: 1rem;
}

.recipe__section {
  width: 70%;
  margin: 0 auto;
}

/* sizing of the video with 16:9 aspect ratio */

.recipe__section--video {

  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  margin: {
    top: 2.875rem;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* spacing and sizing of items */

.recipe__author {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .button {
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    > .button-title {
      margin: 0 0 0 0.75rem;
    }
  }
}

.recipe__annotations {
  margin: {
    top: 2rem;
    bottom: 1.5rem;
  }
}

.recipe-ingredient {
  display: flex;

  > :first-child {
    min-width: 7rem;
  }
}

.ingredient__section-container {
  margin-top: 2rem;
}

.step__section-container {
  margin: {
    top: 2rem;
    bottom: 3rem;
  }
}

.recipe__comment--section {
  margin-top: 3rem;
}

/* recipe properties */

.recipe__properties-container {
  position: absolute;
  width: 20%;
  height: 100%;
}

.recipe__properties-content {
  max-width: 8.75rem;
  display: grid;
  grid-row-gap: 2.5rem;
  position: relative;
  top: 50%;
  margin: {
    left: auto;
    right: auto;
  }
}

.ranking__info .annotation {
  margin-bottom: 0.5rem;
}

.recipe__labels {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.recipe__label {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #9E9E9E;

  > .annotation {
    margin-left: 0.375rem;
  }
}

/* optional class */

.no-border {
  border: none;
}

