/* top section with video and label */

.content-container {
  width: 80%;
  padding-top: 4rem;
  padding-bottom: 4.375rem;
  margin: 0 auto;
}

.items-container {
  display: grid;
  margin-top: 1.5rem;
}

.recipe__instructions-container {
  @extend .items-container;
  grid-row-gap: 1.5rem;
}

.recipe__ingredients-container {
  @extend .items-container;
  grid-row-gap: 1rem;
}

.recipe__section {
  width: 70%;
  margin: 0 auto;
}

// sizing of the video with 16:9 aspect ratio
.recipe__section--video {

  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;

  margin: {
    top: 2.875rem;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* spacing and sizing of items */

.recipe__author {
  margin-top: 2rem;
}

.recipe-ingredient {
  display: flex;

  > :first-child {
    min-width: 7rem;
  }
}

.ingredient__section-container {
  margin-top: 2rem;
}

.step__section-container {
  margin: {
    top: 2rem;
    bottom: 3rem;
  }
}

.recipe__comment--section {
  margin-top: 3rem;
}


